* {
    padding: 0px;
    margin: 0px;
}

img {
    width: 40%;
}

.logo {
    display: flex;
    justify-content: center;
}

.input-text {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    border-radius: 50px;
    width: 700px;
    margin: 0 auto;
    box-shadow: 0 4px 16px #505050;
    opacity: 24%;
}

.input-div {}

input {
    width: 600px;
    height: 45px;
    overflow: hidden;
    border: 0;
    padding-left: 5px;
}

input:focus {
    border: 0;
    outline: 0;
}

ul {
    display: flex;
}

li {
    list-style: none;
    display: inline;
    margin: 15px 30px;
}

a {
    text-decoration: none;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    margin-right: 25px;
}

.footer {
    background-color: rgb(224, 220, 220);
    margin-top: 105px;
}

.foot-details {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
}

p {
    padding: 20px 0px 0px 30px;
    color: gray;
}